<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Quickly find housing</p>
                    <h1>Request</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>
<div class="container">
    <div class="row">

        <div class="col-lg-6">
        
            <div class="card  overlay overflow-hidden">
                <div class="card-body p-0">
                    <div class="overlay-wrapper w-100 ">
                        <img src="https://media.istockphoto.com/id/1156737327/photo/close-up-of-unrecognizable-real-estate-agent-using-laptop-in-the-office.jpg?s=612x612&w=0&k=20&c=ZsBpZhP4cQAkdSlXr8X54pE2dtAqSgkwUTtKyOflDtc=" alt="" class="rounded"
                        style="width: 600px; height: 300px;"
                        />
                    </div>
                    <div class="overlay-layer" style="text-align: center;">
                        <a routerLink="/aprovalstudent" class="boxed-btn btn-shadow">Approval</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-6">

            <div class="card  overlay overflow-hidden ">
                <div class="card-body p-0 ">
                    <div class="overlay-wrapper w-100">
                        <img src="https://media.istockphoto.com/id/1060939876/photo/businessman-using-a-smartphone-in-the-office-top-view.jpg?s=612x612&w=0&k=20&c=PloM8gi2DvniLLFpQOrIMGwpAqIpBuN9i_C_-lsrlj0=" 
                        alt="" class=" rounded" style="width: 600px; height: 300px;"/>
                    </div>
                    <div class="overlay-layer" style="text-align: center;">
                        <a routerLink="/pendingstudent" class="boxed-btn btn-shadow">Pending</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
