<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>See more Details</p>
                    <h1>Single place</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-product mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="single-product-img " >
                    <owl-carousel-o [options]="customOptions">
                        <ng-container *ngFor="let img of appartment.images">
                          <ng-template carouselSlide>
                            <img [src]="img" alt="Apartment Image" class="carousel-image" >
                          </ng-template>
                        </ng-container>
                      </owl-carousel-o>
                      
                    <!-- <img height="500px" width="500px" src="assets/img/products/s2.jpg" alt=""> -->
                    <!-- <img height="500px" width="500px" [src]="appartment.img" alt=""> -->
                    <div style="position: absolute; width: 94%; height:30px; top: 50%; background-color: red; text-align: center; color: white; font-weight: bold; z-index: 1;" *ngIf="appartment.isRented">Rented</div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-content">
                    <h3>{{appartment.region}} </h3>

                    <div class="single-product-form">
                        
                        <p class="single-product-price"><span><b>Description: </b>{{appartment.description}}</span></p>
                        <p class="single-product-price"><span><b>Location: </b>{{appartment.location}}</span></p>

                        <p class="single-product-price"><span><b>The number of rooms: </b>{{appartment.numofRoom}}</span></p>
                        <p class="single-product-price"><span><b>The number of student: </b>{{appartment.capacity}}</span></p>
                        <p class="single-product-price"><span><b>Gender: </b>{{appartment.genderOfStudents}}</span></p>
                        <p class="single-product-price"><span><b>Price: </b>{{ appartment.apartmentPrice | currency: 'EGP' }}</span></p>
                        <!-- <p class="single-product-price"><span><b> Phone: </b>{{appartment.phone}}</span></p> -->
                        <div class="d-flex gape-3">
                            <!-- <a href="tel:01147056186" class="cart-btn d-block"><i class="fas fa-phone"></i>Contact him</a> -->
                            <!-- <button [disabled]="appartment.rentStatus === 'Rented'" class="boxed-btn" (click)="makeRent()" >Rent</button> -->
                            <button type="submit" class="btn w-25 border-25 " [ngClass]="{'btn-info': appartment.rentStatus !== 'Rented', 'btn-secondary': appartment.rentStatus === 'Rented'}" [disabled]="appartment.rentStatus === 'Rented'" (click)="makeRent()">
                                {{ appartment.rentStatus !== 'Rented' ? 'Rent' : 'Rented' }}
                              </button>
                              
                            <!-- [disabled]="appartment.rentStatus === 'Rented'" -->
                            

                                
                        </div>
                        <!-- <div class="btn btn-danger" *ngIf="appartment.isRented">Is Rented</div> -->
                        <!-- <button class="btn btn-secondary">Rent</button> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
