  	<!-- footer -->
      <div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Welcome to our website! We are a passionate team dedicated to providing top-notch housing solutions since 2024.
							 Our mission is to create comfortable and affordable living spaces for everyone.
							  </p>

					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>El-Minya, Egypt</li>
							<li>bassamserag055&#64;gmail.com</li>
							<li>+2 015 525 46867</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a>Home</a></li>
							<li><a>About</a></li>
							<li><a>Housing</a></li>

							<li><a>Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">USE</h2>
						<ul>
							<li><a>HTML</a></li>
							<li><a>CSS</a></li>
							<li><a>JS</a></li>

							<li><a>BOOTSTRAB</a></li>
							<li><a>Angular</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->

	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2024 - <a href="#">Bassam</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="https://www.facebook.com/profile.php?id=100008375294545" target="_blank"><i
										class="fab fa-facebook-f"></i></a></li>
							<li><a href="https://github.com/Bassam-Serag" target="_blank"><i
										class="fab fa-brands fa-github"></i></a></li>
							<li><a href="https://www.instagram.com/bassam_serag_99?igsh=ZHF1bG1lb3J4MnN3"
									target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="https://www.linkedin.com/in/bassam-serag-756292254" target="_blank"><i
										class="fab fa-linkedin"></i></a></li>
							<li><a href="https://www.behance.net/bassamserag" target="_blank"><i
										class="fab fa-brands fa-behance"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
