

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Quickly find housing</p>
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- featured section -->
<div class="feature-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="featured-text">
                    <h2 class="pb-3">Why <span class="orange-text">Wasset</span></h2>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 mb-4 mb-md-5">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <i class="fas fa-shipping-fast"></i>
                                </div>
                                <div class="content">
                                    <h3>Quickly find housing</h3>
                                    <p>Effortlessly discover available housing options,
                                         conveniently browse through a wide array of listings,
                                          and promptly locate your ideal living space.</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <i class="fas fa-money-bill-alt"></i>
                                </div>
                                <div class="content">
                                    <h3>Best Price</h3>
                                    <p>Rest assured that you'll get the best prices available,
                                         with our commitment to providing competitive rates for all housing options.
                                          Benefit from our dedication to offering exceptional value without compromising on quality.</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <i class="fas fa-user-secret"></i>
                                </div>
                                <div class="content">
                                    <h3>Security</h3>
                                    <p>Our platform prioritizes your safety and security.
                                          Rest assured that your privacy is our top priority, 
                                          providing you with peace of mind as you search for your ideal housing solution.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <i class="fas fa-sync-alt"></i>
                                </div>
                                <div class="content">
                                    <h3>Quick Refund</h3>
                                    <p> We prioritize your satisfaction and aim to deliver efficient
                                         support whenever you need it. Count on us for quick and reliable assistance throughout your housing experience.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end featured section -->

<!-- team section -->
<div class="mt-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3>Our <span class="orange-text">Team</span></h3>
                    <p>Get to know the passionate individuals behind our platform who are dedicated to
                         providing you with exceptional service and support.</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-team-item">
                    <div class="team-bg team-bg-1"></div>
                    <h4>Bassam Serag<span>Engineer</span></h4>
                    <ul class="social-link-team">
                        <li><a href="https://www.facebook.com/profile.php?id=100008375294545" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/bassam-serag-756292254/"
                                target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="https://www.behance.net/bassamserag" target="_blank"><i
                                    class="fab fa-brands fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-team-item">
                    <div class="team-bg team-bg-2"></div>
                    <h4>Mostafa Hamada<span>Engineer</span></h4>
                    <ul class="social-link-team">
                        <li><a href="https://www.facebook.com/profile.php?id=100084627221587" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/mostafa-hamada-abdel-hamied/"
                                target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="https://wa.me/+201020053084" target="_blank"><i
                                    class="fab fa-brands fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-team-item">
                    <div class="team-bg team-bg-3"></div>
                    <h4>Ahmed Abdelatty<span>Engineer</span></h4>
                    <ul class="social-link-team">
                        <li><a href="https://www.facebook.com/profile.php?id=100008375294545" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.instagram.com/bassam_serag_99?igsh=ZHF1bG1lb3J4MnN3"
                                target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.behance.net/bassamserag" target="_blank"><i
                                    class="fab fa-brands fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-team-item">
                    <div class="team-bg team-bg-4"></div>
                    <h4>Essam Ayman<span>Engineer</span></h4>
                    <ul class="social-link-team">
                        <li><a href="https://www.facebook.com/essam.asooma?mibextid=ZbWKwL" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/essam-ayman-76b44b180"
                                        target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="Https://wa.me/+201014940417" target="_blank"><i
                                            class="fab fa-brands fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end team section -->
